.btns {
    display: flex;
    font-size: 0;
    flex-wrap: wrap;
    text-align: center;
    max-width: 350px;
}
.btns > div {
    display: inline-block;
    flex-grow: 1;
    box-sizing: border-box;
    width: calc(100% * (1/4));
}