:root {
    --primary-color: #ff81ad;
    --operator-color: #ff6299;
    --equal-color: #ff528f;
    --clear-color: #ff91b7;
    --white-color: #fff;
    --shadow: #000;
}

.btn {
    padding: 15px 30px;
    font-size: 20px;
    font-weight: 400;
    color: var(--white-color);
    background-color: var(--primary-color);
    border: 2px solid var(--primary-color);
    cursor: pointer;
    width: max-content;
    transition: 0.15s ease;
}

.operator {
    background-color: var(--operator-color);
    border: 2px solid var(--operator-color);
}
.equal {
    background-color: var(--equal-color);
    border: 2px solid var(--equal-color);
}

.clear {
    background-color: var(--clear-color);
    border: 2px solid var(--clear-color);
}

.btn:hover {
    box-shadow: 0 6px 18px 0 rgba(var(--shadow), 0.1);
    color: var(--primary-color);
    border-color: transparent;
    background-color: transparent;
}

.operator:hover {
    color: var(--operator-color);
}

.equal:hover {
    color: var(--equal-color);
}
.clear:hover {
    color: var(--clear-color);
}
