:root {
    --primary-color: #ff81ad;
    --operator-color: #ff6299;
    --equal-color: #ff528f;
    --clear-color: #ff91b7;
    --results-color: #ff4a8c;
    --white-color: #fff;
    --shadow: #000;
}

.App {
  
}